html, body {
    margin: 0;
}
* {
    position: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
    width: 50%;
    float: left;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  /* Thêm xử lý menu responsive*/  
  @media screen and (max-width: 768px) {
    .header__giaohang img {
        height: 120px;
    }
  .header__banner img {
    width: 100px;
    height: 100px;
    margin-left: -160px;
    margin-top:-60px;
  }
  .search-text {
    margin-left: 35%;
    width: 40%;
  }
  #header__tongicon {
    display: inline;
  }
  .header__iconvitien{
    width: 100%;
  }
  .header__iconxe{
    width: 100%;
  }
  .header__iconhotline{
    width: 100%;
  }
  .header__bnt {
    width: 30px;
    right:70px;
  }
}
@media screen and (max-width: 768px) {
  .architect {
     margin-left: -100px;
     font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .menu-right ul {
    display: none;
  }
  .menu-right a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 768px) {
    .menu-right.responsive {
        position: relative;
      }
      .menu-right.responsive .icon {
        position: absolute;
        text-align: center;
        top: 0;
      }
  .menu-right.responsive ul {
    display: block;
    border-radius: 0px 20px 0px 0px;
    background-color:rgba(58, 59, 59, 0.719);
    top: 55px;
    right: -5px;
  }
  .menu-right.responsive ul li {
    float: none;
    display: block;
    text-align: left;
    width: 200px;
    padding-left: 10px;
  }
}
.menu-right a {
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.menu-right a:hover {
  background-color: rgb(200,153,121);
}
.menu-right .icon {
  display: none;
}
.responsive {
  position: relative;
}
.menu-right {
  top: 0;
  right: 0;
  display: flex;/* Thêm xử lý menu responsive*/
}
.menu-right ul li {
  margin-left: 70px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  
}
.menu-right ul li:hover {
  background-color: rgb(200,153,121);
  border-radius: 50px;
}
.menu-right ul li a {
  text-decoration: none;
  font-size: 16px;
}



